#signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > input {
    margin: 5px 0;
    width: 280px;
    padding: 5px 10px;
    font-size: 1.3rem;
  }

  & > button {
    margin: 10px 0;
    width: 300px;
    font-size: 1.3rem;
    height: 50px;
  }

  .error {
    width: 300px;
    margin: 10px 0;
  }
}
