div#spot-page {
  margin: 30px 90px;

  & > div#title {
    font-size: 1.8rem;
  }

  & > div#location {
    font-size: 1.3rem;
    height: 50px;
    display: flex;
    align-items: center;
  }

  & > div#images {
    display: flex;
    flex-direction: row;

    & > div#preview {
      width: calc(50vw - 90px);

      & > img {
        border-radius: 15px;
        width: 100%;
        aspect-ratio: 1.5;
        object-fit: cover;
      }
    }

    & > div#sideImages {
      display: flex;
      flex-wrap: wrap;
      width: calc(50vw - 90px);

      & > div.sideImages {
        margin: 0 0 10px 10px;

        & > img {
          border-radius: 15px;
          width: calc(25vw - 60px);
          aspect-ratio: 1.5;
          object-fit: cover;
        }
      }
    }
  }

  & > div#details {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    border-bottom: 2px solid lightgrey;

    & > div#hostedBy {
      width: calc(95% - 325px);
      margin-right: 5%;

      & > div#title {
        font-size: 1.8rem;
        margin-bottom: 10px;
      }

      & > div#description {
        font-size: 1.3rem;
        margin-bottom: 10px;
        word-wrap: break-word;
      }
    }

    & > div#reserve {
      width: 325px;

      & > div#reserve-card {
        height: 100px;
        border: 2px solid lightgrey;
        text-align: center;
        border-radius: 15px;
        padding: 20px 25px;

        & > div#reserve-card-head {
          height: 50%;
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: row;

          & > div#reserve-card-price {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            margin-right: 2px;
          }

          & > div#reserve-card-text {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
          }
        }

        & > button {
          height: 50%;
          width: 100%;
          border: 2px solid lightgrey;
          border-radius: 5px;
          box-shadow: 4px 4px 5px lightgrey;
          font-size: 1.1rem;
          cursor: pointer;
        }

        & > h3 {
          font-size: 1.5rem;
        }
      }
    }
  }

  & > div#reviews-head {
    font-size: 1.8rem;
    margin-top: 10px;
  }

  & > div#reviews-element {
    font-size: 1.3rem;
    padding: 20px 0;

    & > button {
      font-size: 1.3rem;
    }
  }
}
