#spotPage {
  margin: 30px 90px;

  :is(.clickable) {
    cursor: pointer;
  }

  :is(#title) {
    font-size: 1.8rem;
  }

  :is(#location) {
    font-size: 1.3rem;
    height: 50px;
    display: flex;
    align-items: center;
  }

  :is(#images) {
    display: flex;
    flex-direction: row;

    :is(#preview) {
      width: calc(50% - 10px);
      margin: 5px;
      aspect-ratio: 1.5;
      object-fit: cover;
      border-radius: 15px;
    }

    :is(#sideImages) {
      display: flex;
      flex-wrap: wrap;

      :is(.sideImages) {
        width: calc(50% - 10px);
        margin: 5px;
        aspect-ratio: 1.5;
        object-fit: cover;
        border-radius: 15px;
      }
    }
  }

  :is(#details) {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    border-bottom: solid lightgrey 2px;

    :is(#hostedBy) {
      width: 60%;
      margin-right: 5%;

      :is(#title) {
        margin-bottom: 10px;
      }

      :is(#description) {
        margin-bottom: 10px;
      }
    }

    :is(#reserve) {
      width: 35%;

      :is(#reserve-card) {
        height: 100px;
        border: 2px solid grey;
        border-radius: 15px;
        padding: 20px 25px;

        :is(#reserve-card-head) {
          height: 50%;
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: row;

          :is(#reserve-card-price) {
            display: flex;
            align-items: center;
            height: 100%;
            font-size: 1.5rem;
            margin-right: 2px;
          }

          :is(#reserve-card-text) {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            justify-content: space-between;
          }
        }

        :is(#reserve-card-button) {
          height: 50%;
          width: 100%;
          box-shadow: 4px 4px 5px grey;
        }
      }
    }
  }
}
