form#spot-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 calc((100vw - 475px) / 2);

  & * {
    width: 475px;
    font-size: 1rem;
  }

  & label {
    margin-top: 10px;
  }

  & input {
    margin-top: 5px;
    width: 465px;
    padding: 5px;
  }

  & textarea {
    width: 465px;
    padding: 5px;
  }

  & > h2.new-section {
    padding-top: 10px;
    border-top: 2px solid black;
  }

  & .error {
    margin: 5px 0;
  }

  & h1 {
    font-size: 2rem;
    margin: 15px 0 5px 0;
  }

  & h2 {
    font-size: 1.5rem;
    margin-top: 15px;
  }

  & p {
    margin: 0 0 5px 0;
  }

  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > label#city {
      width: 305px;

      & > input {
        width: 280px;
      }
    }
    & > label#state {
      width: 160px;

      & > input {
        width: 160px;
      }
    }

    & > label#lat {
      width: 52%;

      & > input {
        width: 220px;
      }
    }
    & > label#lng {
      width: 48%;

      & > input {
        width: 220px;
      }
    }
  }

  & > div#price-input {
    font-size: 1.3rem;

    & > input {
      margin-left: 5px;
    }
  }

  & > div#submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin: 30px 0;
    border-top: 2px solid black;

    & > button {
      width: fit-content;
      padding: 5px;
    }
  }
}
