div.spot-card {
  aspect-ratio: 0.8;
  flex: 0 0 max(300px, calc(25% - 15px));

  & > img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 15px;
  }

  & > div.description {
    font-size: 1.1rem;

    & > div.title {
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
    }

    & > div.details {
      margin: 20px 0;
      font-size: 1.1rem;
    }
  }

  & > .my-tooltip {
    font-size: 1.1rem !important;
    border-radius: 10px !important;
  }
}
