#nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 5vw;
  border-bottom: 2px solid lightgrey;

  :is(.clickable) {
    cursor: pointer;
  }

  :is(#nav-logo) {
    width: 110px;
    height: fit-content;
  }

  :is(#nav-bar-right) {
    display: flex;
    flex-direction: row;

    :is(#create-spot-button) {
      margin-right: 20px;
      width: 180px;
      height: 47px;
      border-radius: 25px;
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    :is(.profile-dropdown) {
      position: absolute;
      transform: translateX(-45px) translateY(17px);
      width: 150px;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      background-color: white;
      box-shadow: 4px 4px 10px lightgrey;
      border: 2px solid lightgrey;
    }

    :is(.profile-dropdown > div) {
      padding: 5px 10px;
      margin: 0px;
    }

    :is(#manage-spots-button) {
      display: flex;
      justify-content: center;
      margin: 10px 5px 0px 5px;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
    }

    :is(#logout-button) {
      width: 90px;
      height: 45px;
      margin: 5px 20px;
      border-radius: 25px;
      font-size: 1rem;
      border: solid black 2px;
    }

    :is(.profile-button) {
      width: 90px;
      height: 47px;
      border-radius: 25px;
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    :is(.hidden) {
      display: none;
    }
  }
}
