.profile-dropdown {
  position: absolute;
  width: 80px;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 4px 4px 10px lightgrey;
  border: solid lightgrey 2px;
}

.profile-dropdown > *:hover {
  color: salmon;
}

.profile-button {
  width: 90px;
  height: 47px;
  border-radius: 25px;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.nav-logo {
  width: 110px;
  height: fit-content;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 5%;
  border-bottom: solid lightgrey 2px;
}

.clickable {
  cursor: pointer;
}
