#login-form-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;

  & > input {
    margin: 10px 0;
    padding: 5px 10px;
    font-size: 1.3rem;
  }

  & > button {
    margin: 10px 0;
    width: 275px;
    font-size: 1.3rem;
  }

  & > p#or {
    margin: 0;
    font-size: 1.3rem;
  }

  & > button#login {
    height: 50px;
  }
}
